<h2>About <small>Get Lit</small></h2>
At Get Lit, our goal is to make sure you're always drunk.
<ul>
  <li>{{link-to "Developers" "about.developers"}}</li>
  <li>{{link-to "Lawyers" "about.lawyers"}}</li>
</ul>

<div>
  {{outlet}}
</div>
