<div class="container">

.<div class="row">
  <h1>Let's get Lit</h1>
  <ul>
    <li>{{link-to "The About Page" "about"}}</li>
    <li>{{link-to "Cocktails" "cocktails"}}</li>
  </ul>

  <div class="row">
    {{outlet}}
  </div>
</div>
</div>
